
version: '3.7'
services:
    web:
      build: .
      ports:
          - "8080:5000"
      volumes:
          - .:/code
      networks:
          - sb_portal    
           
    proxy:
      
      build:
        context:  ./nginx
        dockerfile: Dockerfile
      ports:
        - "8180:80"
      links:
        - web
      depends_on:
        - web
      networks:
        - sb_portal    

networks:
  default:
    external:
      name: oratopg_dbnet
  sb_portal: